<div *ngIf="playlistsLoaded" [className]="isPictureEnlarged ? 'menuContainer imageEnlarged' : 'menuContainer imageNotEnlarged'">
  <div class="libraryContainer">
    <h6>YOUR LIBRARY</h6>
    <div>Songs</div>
    <div>Albums</div>
    <div>Artists</div>
  </div>
  <div class="playlistContainer">
    <h3>PLAYLISTS</h3>
    <div *ngFor="let playlist of playlists" class="playlist">
      <span *ngIf="playlist['selected']" class="playlist-selected"> </span>
      <span class="playlistName" (click)="goToTracks(playlist)">{{shortenString(playlist['name'])}}</span>
    </div>
  </div>
</div>
<div *ngIf="playlistsLoaded" class="newPlaylistContainer">
  <i class="fas fa-plus-circle"></i>
  <span>New Playlist</span>
</div>
<div *ngIf="currentTrack" class="trackImageContainer" [@trackAlbumImage]="imageEnlargeState">
  <img class="trackImage" [src]="currentTrack['album'].images[0].url">
  <div (click)="shrinkPicture()">
    <i class="fas fa-angle-down"></i>
    <i class="fas fa-circle"></i>
  </div>
</div>
<div class="loadingContainer" *ngIf="loading">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>
