.loadingContainer {
  position: absolute;
  top: 50%;
  left: 45%;
  font-size: 100px;
}

.albums {
  height: 88%;
  overflow-y: scroll;

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .albumCover {
    width: 200px;
  }

  .albumName {
    font-size: 14px;
  }

  .albumArtist {
    font-size: 14px;
    color: #868686;
  }

  .album {
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: center;

    .albumName {
      color: white;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #555;
  }

  .filterContainer {
    width: 100%;
    padding: 5px;
    color: #999999;

    &:hover {
      i:nth-child(1) {
        color: white;
      }

      .filter::placeholder {
        color: white
      }
    }

    i {
      width: 2%;
      color: #999999;
    }

    .filter {
      background-color: #211b1b;
      width: 96%;
      border: 0;
    }

    .filter::placeholder {
      color: #999999;
    }
  }

  .filterContainerSelected {
    background-color: #868686;
    color: #999999;
    width: 100%;
    padding: 5px;

    &:hover {
      i:nth-child(1) {
        color: white;
      }

      .filter::placeholder {
        color: white
      }
    }

    .filter {
      background-color: #868686;
      width: 96%;
      border: 0;
    }

    .filter::placeholder {
      color: #999999;
    }

    i {
      width: 2%;
    }

    .fa-times:hover {
      color: white;
    }
  }
}
