.registerFormContainer {
  margin: auto;
  width: 50%;
  padding-top: 5em;

  h3 {
    text-align: center;
  }

  .registerForm {
    padding-bottom: 1em;

    label {
      font-size: 14px;
      font-weight: 800;
    }

    .validation-error {
      color:red
    }
    
    .validation-pass {
      color: green;
    }    

    .submitButton {
      margin: auto;
      width: 50%;
    
      button {
        width: 100%;
      }
    }
  }
}