.headerContainer {
  height: 75px;
  background-color: gray;

  a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .headerSection {
    float: left;
    width: 75%;
    font-size: 50px;
    color: #40bc22;
  }

  .signInSection {
    float: right;

    button {
      height: 75px;
      margin-right: 1em;
      cursor: pointer;
    }

    button:nth-child(1) {
      background-color: #57d05a;
      border-color: #57d05a;
    }

    button:nth-child(1):hover {
      background-color: #3fa626;
      border-color: #3fa626;
    }

    button:nth-child(2) {
      margin-right: 0;
      background-color: #23b0de;
      border-color: #23b0de;
    }

    button:nth-child(2):hover {
      margin-right: 0;
      background-color: #1f5ca6;
      border-color: #1f5ca6;
    }

    .avatar {
      height: 75px;
      float: right;
      width: 23%;
    }
  }
}
