.artistCover {
  width: 200px;
  border-radius: 50%;
  height: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.artistName {
  // text-align: center;
  margin-top: 0.5rem;
  color: white;
  font-size: 14px;
}

.artist {
  width: 200px;
  margin-right: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
