@import "~src/app/styles/variables.scss";

.album-icon {
  position: absolute;
  left: 0;
  font-size: 65px;
  color: green;
  cursor: pointer;
}

.status-bar {
  padding: 0;
  height: 14vh;

  .status-bar-container {
    background-color: $dark-grey;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;

    .show-cursor {
      cursor: pointer;
    }

    .track-image-container {
      height: 100%;
      display: flex;
      flex: 1;

      .test3 {
        padding: 15px;

        .test {
          position: relative;
        }

        i {
          color: #3e3e3e;
          font-size: 25px;
        }

        .test2 {
          z-index: 34;
          top: 0;
          right: 0;
          position: absolute;

          .fa-angle-up {
            color: white;
            z-index: 35;
            left: 20px;
            position: relative;
          }

          .fa-circle {
            position: relative;
            color: black;
          }
        }

        .track-image {
          width: 60px;
        }
      }

      .test4-a {
        left: 30px;
      }

      .test4 {
        position: relative;

        .track-title {
          font-size: 14px;
          color: white;
          position: relative;
          top: 15px;
        }

        .track-artists {
          font-size: 12px;
          position: relative;
          top: 10px;
          color: #8e8e8e;
        }
      }
    }

    .player-container {
      flex: 3;

      .player-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;

        button {
          background-color: #383737;
          color: #999999;
        }

        button:focus {
          outline: 0;
        }

        .play-button,
        .pause-button {
          font-size: 40px;
        }

        .mat-icon {
          height: 100%;
          width: 100%;
        }

        .repeat-selected {
          color: green;
        }

        i {
          font-size: 20px;
        }
      }

      .player-progress-bar {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        font-size: 14px;

        .total-time {
          position: relative;
          left: 20px;
        }

        .mat-progress-bar {
          position: relative;
          width: 89%;
          left: 10px;
        }
      }
    }

    .volume-container {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;

      .different-device {
        color: green;
      }

      i {
        margin-right: 0.5em;
      }
    }
  }

  .external-device {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30px;

    .external-device-message {
      background-color: green;
      height: 15px;
      margin-top: 15px;

      .device-message {
        position: absolute;
        right: 15px;
        font-size: 12px;
        height: 100%;
        align-items: center;
        display: flex;
        top: 8px;

        .icon {
          width: 14px;
          height: 14px;
          font-size: 14px;
          margin-right: 2px;
        }

        .bold {
          margin-left: 2px;
          font-weight: 800;
        }
      }
    }

    .triangle-container {
      position: relative;

      .triangle-down {
        position: absolute;
        right: 201px;
        bottom: 15px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 12px solid green;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .status-bar-container {
    height: 10vh;
  }
}
