
.playlist-list {
  overflow-y: scroll;
  height: 77.5%;
  padding: 0 5px 0 5px;

  .selected {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;

    // TODO: change for when current playlist is playing
    // .playlistTitle {
    //   color: green !important;
    // }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2) !important;
    }
  }

  .playlist {
    font-size: 14px;
    display: flex;
    padding: 5px 0 5px 5px;
    cursor: pointer;

    .playlist-selected {
      border-left: 5px solid #57d05a;
    }

    .playlistTitle {
      font-size: 12px !important;
      cursor: pointer !important;
      font-weight: bold !important;
      color: white !important;
    }

    .playlistOwner {
      cursor: pointer  !important;
      font-size: 12px;
      color: grey;
      margin-top: 5px;
    }

    .playlistCover {
      width: 40px;
    }

    span:nth-child(2) {
      margin-left: 30px;
      color: white;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      cursor: pointer;
    }
  }

  .selected-playlist {
    position: relative;
    right: 25px;
    height: 25px;
    width: 5px;
    background: green;
    float: left;
  }

  .playlist-playing {
    position: relative;
    right: 25px;
    width: 0;
    top: 5px;
    float: left;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #1b1919;
    padding-right: 5px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #1b1919;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
    border: 5px solid rgba(0, 0, 0, 0);
  }
}




.menuContainer {
  overflow: hidden;
  height: 78vh;
  background-color: black;
  padding: 5px 10px 5px 10px;

  .clickable {
    cursor: pointer;

    position: relative;
  }

  .padding {
    padding: 0 0 0 10px;
  }

  .clickable:hover {
    color: white;
  }

  .selected-section {
    position: relative;
    right: 20px;
    width: 5px;
    background: green;
  }

  .playlistContainer {
    margin-top: 0.5rem;
    height: 93%;
    background-color: #1b1919;

    .newPlaylistContainer {
      height: auto;
      margin-bottom: 0.5rem;
      display: flex;
      font-size: 16px;
      color: #999999;
      right: 5px;

      .mat-icon {
        font-size: 45px;
        width: auto;
        height: auto;
      }

      &:hover {
        color: white;
        cursor: pointer;
      }

      div {
        align-self: center;
        margin-left: 0.5rem;
      }
    }

   

    .playlistHeading {
      font-size: 11px;
      margin-bottom: 0.5rem;
      letter-spacing: .16rem;
      padding: 0 0 0 25px;
    }
  }

  .libraryContainer,
  .playlistContainer {
    color: #999999;
  }

  .libraryContainer {
    background-color: #1b1919;

    div {
      display: flex;
      padding-bottom: 1rem;

      span {
        align-self: center;
        margin-left: 0.5rem;
      }

      .mat-icon {
        font-size: 30px;
        width: auto;
        height: auto;
      }
    }
  }
}

.loadingContainer {
  position: absolute;
  top: 40%;
  left: 25%;
  stroke: white;
}

