@import "~src/app/styles/variables.scss";

.status-bar-container {
  background-color: $dark-grey;
  // height: 20vh;
  display: flex;

  .show-cursor {
    cursor: pointer;
  }

  // .track-info {
  //   position: relative;
    // height: 92px;

    .track-image-container {
      height: 100%;
      display: flex;
      flex: 1;

      .test3 {
        i {
          color: #3e3e3e;
          font-size: 25px;
        }

        .test2 {
          z-index: 34;
          top: 0;
          right: 0;
          position: absolute;

          .fa-angle-up {
            color: white;
            z-index: 35;
            left: 20px;
            position: relative;
          }

          .fa-circle {
            position: relative;
            color: black;
          }
        }

        .track-image {
          width: 60px;
        }
      }

      .test4-a {
        left: 30px;
      }
  
      .test4 {
        position: relative;
        left: 6px;

        .track-title {
          font-size: 14px;
          color: white;
        }

        .track-artists {
          font-size: 12px;
          color: #8e8e8e;
        }
      }
    // }
  }

  .player-container {
    flex: 2;
    .player-buttons {
      text-align: center;

      button {
        background-color: #383737;
        color: #999999;
      }

      button:focus {
        outline: 0;
      }

      .play-button,
      .pause-button {
        font-size: 40px;
      }

      .mat-icon {
        height: 100%;
        width: 100%;
      }

      .repeat-selected {
        color: green;
      }
  
      i {
        font-size: 20px;
      }
    }

    .player-progress-bar {
      position: relative;
      color: white;

      .current-time {
        position: absolute;
        top: -16px;
        font-size: 16px;
      }

      .total-time {
        position: absolute;
        right: 0;
        font-size: 16px;
        bottom: -13px;
      }

      .mat-progress-bar {
        position: relative;
        width: 83%;
        left: 45px;
      }
    }
  }

  .volume-container {
    position: relative;
    flex: 1;
    padding-top: 2em;
    left: 1em;

    i {
      margin-right: 0.5em;
    }
  }

  .external-device-message {
    background-color: green;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    top: -8px;
    height: 20px;
  
    div {
      position: absolute;
      right: 25px;
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .status-bar-container {
    height: 12vh;
  }
}

.triangle-down {
  position: fixed;
  right: 12.5em;
  top: 46.9em;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid green;
}

.bold {
  font-weight: 800;
}

.different-device {
  color: green;
}
