.loadingContainer {
  position: absolute;
  top: 42%;
  left: 47%;
}

.playlist {
  height: 76.99vh;
  overflow-y: scroll;
  background-color: #2d2929;

  .playlistHeader {
    color: white;
    display: flex;
    margin-bottom: 1rem;
    font-size: 14px;

    .playlistCoverImage {
      height: 200px;
      width: 200px;
    }

    .playlistInfoSection {
      margin-left: 2em;
      margin-top: 2em;
      width: 100%;

      .button-and-follower-section {
        margin-top: 1rem;
        display: flex;

        .button-container {
          flex-grow: 1;

          .more-options-button {
            margin-left: 1rem;
            border: 1px solid white;
          }
        }

        .follower-container {
          width: 10%;
          text-align: right;
          margin-right: 1rem;
        }
      }

      span {
        font-size: 12px;
      }
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #2d2929;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #2d2929;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #555;
  }
}

table {
  width: 100%;
  background-color: #2d2929;

  .trackPlayingHeader {
    width: 35px;
  }

  .dupliateTrackHeader {
    width: 25px;
  }

  .trackPlayIcons {
    width: 45px;
    color: white !important;

    .material-icons {
      font-size: 17px;
    }

    .mat-icon {
      position: relative;
      top: 3px;
      cursor: pointer;
      right: 5px;
    }
  }

  .trackPlaying {
    .mat-cell {
      color: green;
    }
  }

  .mat-cell,
  .mat-header-cell {
    color: white;
    border-color: #424242;
    height: 50px;
  }
}

::ng-deep td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0 !important;
}

::ng-deep td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0 !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: white;
}

::ng-deep .mat-checkbox .mat-checkbox-inner-container {
  top: 4px;
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 1920px) {
  .playlist {
    height: 75.9vh;
  }
}
