<div class="playlist">
  <div class="playlistHeader">
    <div class="playlistCoverSection">
      <img class="playlistCoverImage" [src]="playlist?.images[0]?.url" />
    </div>
    <div class="playlistInfoSection">
      <span>PLAYLIST</span>
      <h1>{{playlist?.name}}</h1>
      <span>Created by {{playlist?.owner?.display_name}} * {{playlist?.tracks?.total}} <span *ngIf="playlist?.tracks?.total > 1 || playlist?.tracks?.total === 0">songs</span><span *ngIf="tracks.length === 1">song</span>
    </span>
    </div>
  </div>
  <!-- <div *ngIf="tracks.length === 0">
    There are no tracks in this playlist
  </div> -->
  <div class="trackData">
    <div>
      <app-track-filter></app-track-filter>
    </div>
    
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortDisableClear>
      <ng-container matColumnDef="dupTrack" *ngIf="checkDuplicate">
        <th mat-header-cell *matHeaderCellDef class="dupliateTrackHeader">Dup</th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="trackPlaying">
        <th mat-header-cell *matHeaderCellDef class="trackPlayingHeader"></th>
        <td mat-cell *matCellDef="let element" class="trackPlayIcons">
          <div *ngIf="currentTrack">
            <mat-icon *ngIf="element.isPlayButtonShowing && currentTrack['name'] !== element.title" (click)="playSong(element.track)">play_circle_filled_white</mat-icon>
            <div *ngIf="(currentTrack['name'] === element.title)" (mouseleave)="hidePauseButton(element)" (mouseenter)="showPauseButton(element)">
              <mat-icon *ngIf="!element.isPauseButtonShowing">volume_up</mat-icon>
              <mat-icon *ngIf="element.isPauseButtonShowing" (click)="pauseSong()">pause_circle_filled</mat-icon>
            </div>
          </div>         
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element" >
            <app-highlight-search [text]="utilService.shortenString(element.title, 40)" [searchText]="filterText"></app-highlight-search>
          </td>
      </ng-container>
    
      <ng-container matColumnDef="artist">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Artist</th>
        <td mat-cell *matCellDef="let element">
            <app-highlight-search [text]="utilService.shortenString(element.artist, 20)" [searchText]="filterText"></app-highlight-search>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Album</th>
        <td mat-cell *matCellDef="let element">
            <app-highlight-search [text]="utilService.shortenString(element.album_name, 20)" [searchText]="filterText"></app-highlight-search>
        </td>
      </ng-container>

      <ng-container matColumnDef="addedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>calendar_today</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.addedAt}} </td>
      </ng-container>
    
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>watch_later</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element"> {{utilService.prettyMs(element.time)}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (mouseleave)="hidePlayButton(row)" (mouseenter)="showPlayButton(row)" [className]="(state) && (state['track_window']['current_track']['name'] === row.title) ? 'trackPlaying' : ''"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" [length]="itemCount" [pageSize]="pageSize" (page)="loadTracks()"></mat-paginator>
  </div>
</div>