<div *ngIf="tracksLoaded" class="playlist">
  <div class="playlistHeader">
    <div class="playlistCoverSection">
      <img class="playlistCoverImage" [src]="playlistCover" />
    </div>
    <div class="playlistInfoSection">
      <span>PLAYLIST</span>
      <h1>{{playlistName}}</h1>
      <span>Created by {{playlistOwner}} * {{tracks.length}} <span *ngIf="tracks.length > 1 || tracks.length === 0">songs</span><span *ngIf="tracks.length === 1">song</span>, {{getPlaylistDuration()}}</span>
    </div>
  </div>
  <div *ngIf="tracks.length === 0">
    There are no tracks in this playlist
  </div>
  <div class="trackData" *ngIf="tracks.length > 0">
    <div>
      <app-track-filter [tracks]="tracks"></app-track-filter>
    </div>
    <table >
      <thead>
        <tr class="tableHeaders">
          <ng-container *ngFor="let header of headers">
            <th *ngIf="header['show']">
              {{header['name']}}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of tracks | duplicateTrack: checkDuplicate | filterTrackName: filterTrackName | filterTrackArtist: filterTrackArtist; let i = index" [className]="(currentTrack['name'] === track['track']['name'] && currentTrack['album']['name'] === track['track']['album']['name']) ? 'trackPlaying trackRow' : 'trackRow'" (mouseleave)="hidePlayButton(track)" (mouseenter)="showPlayButton(track)">
          <td *ngIf="checkDuplicate">
            <input type="checkbox" (change)="toBeRemoved(track)"/>
          </td>
          <td class="trackPlayIcons">
            <i *ngIf="track.isPlayButtonShowing && currentTrack['name'] !== track['track']['name']" class="fas fa-play-circle" (click)="testing(track)"></i>
            <i *ngIf="track.isPlayButtonShowing && (currentTrack['name'] === track['track']['name'] && currentTrack['album']['name'] !== track['track']['album']['name'])" class="fas fa-play-circle" (click)="testing(track)"></i>
            <div *ngIf="(currentTrack['name'] === track['track']['name'] && currentTrack['album']['name'] === track['track']['album']['name'])" (mouseleave)="hidePauseButton(track)" (mouseenter)="showPauseButton(track)">
              <div *ngIf="!track.isPauseButtonShowing">
                <i class="fas fa-circle"></i>
                <i class="fas fa-music"></i>
              </div>
              <i *ngIf="track.isPauseButtonShowing" class="fas fa-pause-circle" (click)="pauseSong(track)"></i>
            </div>

          </td>
          <!--<td>-->
            <!--<i [className]="track['isSaved'] ? 'fas fa-check' : 'fas fa-plus'"></i>-->
          <!--</td>-->
          <!--<td>-->
            <!--<ng-container *ngIf="track['track'].album.images.length > 0; then test; else other_content"></ng-container>-->
            <!--<ng-template #test>-->
              <!--<img class="trackImage" [src]="track['track'].album.images[0].url" />-->
            <!--</ng-template>-->
            <!--<ng-template #other_content>-->
              <!--<img class="trackImage" src="/assets/blank_album.png" />-->
            <!--</ng-template>-->
          <!--</td>-->
          <ng-container *ngIf="!track['track'].is_local; then canProceed; else cannotProceed"></ng-container>
          <ng-template #canProceed>
            <td (click)="goToTrack(track)" *ngIf="!track['highlight']">{{shortenString(track['track']['name'])}}</td>
            <td (click)="goToTrack(track)" *ngIf="track['highlight']" [innerHtml]="shortenString(track['track']['name'])"></td>
          </ng-template>
          <ng-template #cannotProceed>
            <td *ngIf="!track['highlight']">{{shortenString(track['track']['name'])}}</td>
            <td *ngIf="track['highlight']"><mark>{{shortenString(track['track']['name'])}}</mark></td>
          </ng-template>
          <td>{{shortenString(displayArtists(track['track'].artists).join(''))}}</td>
          <td>{{shortenString(track['track'].album['name'])}}</td>
          <td>{{convertMS(track['track']['duration_ms'])}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="loadingContainer" *ngIf="loading">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>
