<div class="loginFormContainer">
  <h3>Please Login</h3>
  <form (submit)="onSubmit()" [formGroup]="loginForm" class="loginForm">
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email" class="form-control"/>
      <div *ngIf="loginForm.controls['email'].touched" class="validation-error">
        <span class="validation-error" *ngIf="(loginForm.controls['email'].errors?.required)">Email is required</span>
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" class="form-control"/>
      <div *ngIf="loginForm.controls['password'].touched" class="validation-error">
        <span class="validation-error" *ngIf="(loginForm.controls['password'].errors?.required)">Password is required</span>
      </div>
    </div>
    <div *ngIf="wrongCredentials" class="validation-error invalidCredentials">Invalid Login Credentials</div>
    <div class="submitButton">
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>
  </form>
  <span class="registerContainer">Don't have a login? You can create an account <a routerLink="/register">here</a></span>
</div>
