<div  class="menuContainer">
  <div class="libraryContainer">
    <div *ngFor="let section of sections" (click)="goToSection(section.url)" [ngClass]="{'selected': (selectedUrl$ | async) ? (selectedUrl$ | async) === section.url : false, 'clickable': true, 'padding': true}">
        <!-- <div class="selected-section" *ngIf="(selectedUrl$ | async) === section.url"></div> -->
        <mat-icon>{{section.iconName}}</mat-icon>
        <span>{{section.label}}</span>
    </div>
  </div>
  <div class="playlistContainer">
    <div  class="newPlaylistContainer padding" >
        <span>Your Library</span>
        <mat-icon class="clickable" (click)="openNewPlaylistModal()">add</mat-icon>
        
      </div>
      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option (click)="loadPlaylists()">Playlists</mat-chip-option>
        <mat-chip-option (click)="loadPodcasts()">Podcasts & Shows</mat-chip-option>
        <mat-chip-option (click)="loadAlbums()">Albums</mat-chip-option>
        <mat-chip-option (click)="loadArtists()">Artists</mat-chip-option>
      </mat-chip-listbox>
      <!-- TODO: Add overlay when loading  -->
     <app-library-list [list]="list$" [loading]="loading$" [loaded]="loaded$" [canLoadMore]="canLoadMore$" [type]="type$"></app-library-list>
  </div>
</div>
<mat-spinner class="loadingContainer" *ngIf="loading$ | async"></mat-spinner>