<div *ngIf="loaded$ | async" class="menuContainer">
  <div class="libraryContainer">
    <div *ngFor="let section of sections" (click)="goToSection(section.url)" [ngClass]="{'selected': (selectedUrl$ | async) ? (selectedUrl$ | async) === section.url : false, 'clickable': true, 'padding': true}">
        <div class="selected-section" *ngIf="(selectedUrl$ | async) === section.url"></div>
        <mat-icon>{{section.iconName}}</mat-icon>
        <span>{{section.label}}</span>
    </div>
  </div>
  <div class="playlistContainer">
    <h2 class="playlistHeading">PLAYLISTS</h2>
    <div *ngIf="loaded$ | async" class="newPlaylistContainer clickable padding" (click)="openNewPlaylistModal()">
        <mat-icon>add_box</mat-icon>
        <div>Create Playlist</div>
      </div>
      <div class="playlist-list">
          <mat-list>
              <div *ngFor="let playlist of playlists$ | async">
                <!-- TODO: improve logic for showing this icon -->
                <mat-icon *ngIf="selectedRoute && selectedRoute.parent === 'playlist' && selectedRoute.child !== playlist.selectedUrl && currentPlaylist === playlist.id" class="playlist-playing">volume_up</mat-icon>
                <div class="selected-playlist" *ngIf="selectedRoute && selectedRoute.parent === 'playlist' && selectedRoute.child === playlist.selectedUrl" color="primary"></div>
                <mat-list-item (click)="goToTracks(playlist)" [ngClass]="{'selected': selectedRoute ? selectedRoute.parent === 'playlist' && selectedRoute.child === playlist.selectedUrl : false, 'clickable': true}">
                    {{utilService.shortenString(playlist.name, 18)}}
                  </mat-list-item>
              </div>
              
            </mat-list>
            <mat-spinner *ngIf="loadMorePlaylist"></mat-spinner>
            <button *ngIf="canLoadMore$ | async" (click)="loadMorePlaylists()">Load More</button>
      </div>
  </div>
</div>
<mat-spinner class="loadingContainer" *ngIf="loading$ | async"></mat-spinner>