<div class="trackFilterContainer">
  <div>
    <!--<label>Filter track by Name: </label>-->
    <div class="filterContainer" (click)="showSearchBox()" [className]="isSearchBoxShowing ? 'filterContainerSelected' : 'filterContainer'">
      <i class="fas fa-search"></i>
      <input type="text" [ngModel]="name" (ngModelChange)="filterName($event); name = $event" placeholder="Filter" class="filter" (blur)="onLoseFocus()"/>
      <i *ngIf="isSearchBoxShowing" class="fas fa-times" (click)="hideSearchBox()"></i>
    </div>
  </div>
  <!--<div>-->
    <!--<label>Filter track by Artist: </label>-->
    <!--<input type="text"[ngModel]="artist" (ngModelChange)="filterArtist($event); artist = $event"/>-->
  <!--</div>-->
  <div *ngIf="!checkForLocalTracks()">
    <button class="btn btn-primary" (click)="shuffleSongs()">Shuffle</button>
    <div>
      <label>Check for Duplicate Songs:</label>
      <input type="checkbox" (change)="checkForDuplicateTrack($event)" [(ngModel)]="isDuplicateTrack">
    </div>
  </div>
  <!-- <button class="btn btn-primary" *ngIf="isDuplicateTrack" (click)="removeDuplicates()">Remove Duplicate Songs</button> -->
</div>