<div class="playlist">
  <div class="playlistHeader">
    <div class="playlistCoverSection">
      <!-- TODO: FIX -->
      <!-- <img class="playlistCoverImage" alt="playlistCoverImage" [src]="playlist.images[0].url" /> -->
    </div>
    <div class="playlistInfoSection">
      <span>PLAYLIST</span>
      <h1>{{playlist.name}}</h1>
      <div>Created by {{playlist.owner.display_name}} * {{playlist.tracks.total}} <span *ngIf="playlist.tracks.total > 1 || playlist?.tracks?.total === 0">songs</span><span *ngIf="tracks.length === 1">song</span></div>
      <!-- TODO: Improve logic for these buttons-->
      <div class="button-and-follower-section">
        <div class="button-container">
          <button mat-flat-button color="primary" [disabled]="!currentTrack" (click)="startListening()">{{startListeningText()}}</button>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="more-options-button">
            <mat-icon class="md-light md-48">more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="after">
            <div>Something 1</div>
            <div>Something 2</div>
          </mat-menu>
        </div>
        <div class="follower-container">
          <div>Followers</div>
          <div>{{playlist.followers.total}}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="tracks.length === 0">
    There are no tracks in this playlist
  </div> -->
  <div class="trackData">
    <div>
      <app-track-filter></app-track-filter>
    </div>
    
    <!-- (cdkDropListDropped)="dropTable($event)" -->

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" cdkDropList
    [cdkDropListData]="dataSource"
     matSortDisableClear class="mat-elevation-z8">
      <ng-container matColumnDef="dupTrack" *ngIf="checkDuplicate">
        <th mat-header-cell *matHeaderCellDef class="dupliateTrackHeader">Dup</th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="trackPlaying">
        <th mat-header-cell *matHeaderCellDef class="trackPlayingHeader">#</th>
        <td mat-cell *matCellDef="let element; let i = index" class="trackPlayIcons" (mouseenter)="hideTrackNumber(element)" (mouseleave)="showTrackNumber(element)">
          <span *ngIf="element.showTrackNumber && element.title !== 'Plan B'">{{i + 1}}</span>
          <!-- <mat-icon class="tatt" *ngIf="element.title === 'Plan B'" (click)="playSong(element)">play_arrow</mat-icon> -->

          <div *ngIf="currentTrack">
            <mat-icon *ngIf="element.showPlayButton && currentTrack['name'] !== element.title" (click)="playSong(element)">play_arrow</mat-icon>
            <!-- <div *ngIf="(currentTrack['name'] === element.title)" (mouseleave)="hidePauseButton(element)" (mouseenter)="showPauseButton(element)">
              <mat-icon *ngIf="!element.showPauseButton">volume_up</mat-icon>
              <mat-icon *ngIf="element.showPauseButton" (click)="pauseSong()">pause</mat-icon>
            </div> -->
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">
            <app-highlight-search [text]="utilService.shortenString(element.title, 40)" [searchText]="filterText"></app-highlight-search>
          </td>
      </ng-container>
    
      <ng-container matColumnDef="artist">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Artist</th>
        <td mat-cell *matCellDef="let element">
            <app-highlight-search [text]="utilService.shortenString(element.artist, 20)" [searchText]="filterText"></app-highlight-search>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Album</th>
        <td mat-cell *matCellDef="let element">
            <app-highlight-search [text]="utilService.shortenString(element.album_name, 20)" [searchText]="filterText"></app-highlight-search>
        </td>
      </ng-container>

      <ng-container matColumnDef="added_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>calendar_today</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.added_at}} </td>
      </ng-container>
    
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>watch_later</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element"> {{utilService.prettyMs(element.time)}} </td>
      </ng-container>


      <!-- (cdkDragStarted)="dragStart($event)" -->
      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns(); let i = index" (mouseleave)="hidePlayButton(row)" (mouseenter)="showPlayButton(row)" [className]="(state) && (state['track_window']['current_track']['name'] === row.title) ? 'trackPlaying' : ''" cdkDrag cdkDragLockAxis="y" [cdkDragData]="row">
        <span *cdkDragPreview>{{draggedString}}</span>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" [length]="itemCount" [pageSize]="pageSize" (page)="loadTracks()"></mat-paginator>
  </div>
</div>