<div *ngIf="loaded$ | async" class="playlist">
  <div class="playlistHeader">
    <div class="playlistCoverSection">
      <img class="playlistCoverImage" alt="playlistCoverImage" [src]="image$ | async" />
    </div>
    <div class="playlistInfoSection">
      <span>{{(public$ | async) ? 'PUBLIC' : 'PRIVATE'}} PLAYLIST</span>
      <h1 class="playlistName">{{name$ | async}}</h1>
      <span>
        <span class="playlistOwner">{{owner$ | async}}</span>
        <span *ngIf="(followers$ | async)! > 0"> • {{followers$ | async}} {{((followers$ | async)! > 1) ? 'likes' : 'like'}}</span>
        <span> • {{tracksLength$ | async}} {{((tracksLength$ | async)! > 1 || (tracksLength$ | async) === 0) ? 'songs' : 'song'}}</span>
        <!--  TODO: FIX <span>total playlist time duration</span> -->
      </span>
      <!-- TODO: Improve logic for these buttons-->
      <!-- <div class="button-and-follower-section">
        <div class="button-container">
          <button mat-flat-button color="primary" [disabled]="!currentTrack" (click)="startListening()">{{startListeningText()}}</button>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="more-options-button">
            <mat-icon class="md-light md-48">more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="after">
            <div>Something 1</div>
            <div>Something 2</div>
          </mat-menu>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <div *ngIf="tracks.length === 0">
    There are no tracks in this playlist
  </div> -->
  <div class="trackData">
    <div>
      <app-track-filter></app-track-filter>
    </div>
    
    <!-- (cdkDropListDropped)="dropTable($event)" -->

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" cdkDropList
    [cdkDropListData]="dataSource"
     matSortDisableClear class="mat-elevation-z8">
      <!-- <ng-container matColumnDef="dupTrack" *ngIf="checkDuplicate">
        <th mat-header-cell *matHeaderCellDef class="dupliateTrackHeader">Dup</th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container> -->

      <ng-container matColumnDef="trackPlaying">
        <th mat-header-cell *matHeaderCellDef class="trackPlayingHeader">#</th>
        <!-- ADD BACK BELOW -->
        <!-- (mouseenter)="hideTrackNumber(element)" (mouseleave)="showTrackNumber(element)" -->
        <td mat-cell *matCellDef="let element; let i = index" class="trackPlayIcons">
          <span *ngIf="element.showTrackNumber && element.title !== 'Plan B'">{{i + 1}}</span>
          <!-- <mat-icon class="tatt" *ngIf="element.title === 'Plan B'" (click)="playSong(element)">play_arrow</mat-icon> -->

          <div *ngIf="currentTrack">
            <!-- TODO FIX -->
            <!-- <mat-icon *ngIf="element.showPlayButton && currentTrack['name'] !== element.title" (click)="playSong(element)">play_arrow</mat-icon> -->
            <!-- <div *ngIf="(currentTrack['name'] === element.title)" (mouseleave)="hidePauseButton(element)" (mouseenter)="showPauseButton(element)">
              <mat-icon *ngIf="!element.showPauseButton">volume_up</mat-icon>
              <mat-icon *ngIf="element.showPauseButton" (click)="pauseSong()">pause</mat-icon>
            </div> -->
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">
          <!-- TODO See Yours Truly in MONSTERCAT Playlist for shorten length -->
          <div class="titleContainer">
            <div>
              <img class="albumImage" [src]="element.album_image" />
            </div>
            <div class="titleTextContainer">
              <p
                class="trackTitle"
                highlightSearch
                [text]="(element.title | slice:test1:test2) + (element.title.length > test2 ? '...' : '')"
                [searchText]="filterText"
                classToApply="highlight">
              </p>
              <p
                class="trackArtist"
                highlightSearch
                [text]="(element.artist | slice:test1:test2) + (element.artist.length > test2 ? '...' : '')"
                [searchText]="filterText"
                classToApply="highlight">
              </p>
            </div>
          </div>
          </td>
      </ng-container>

      <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Album</th>
        <td mat-cell *matCellDef="let element">
            <!-- TODO See On my Own in MONSTERCAT Playlist for shorten length -->
            <p
              class="trackAlbum"
              highlightSearch 
              [text]="(element.album_name | slice:test1:test2) + (element.album_name.length > test2 ? '...' : '')" 
              [searchText]="filterText" 
              classToApply="highlight">
            </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="added_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>calendar_today</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element">
          <span class="trackDate">{{element.added_at}}</span>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>watch_later</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element">
          <span class="trackDuration">{{utilService.prettyMs(element.time)}}</span>
        </td>
      </ng-container>


      <!-- (cdkDragStarted)="dragStart($event)" -->
      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns(); let i = index" (mouseleave)="hidePlayButton(row)" (mouseenter)="showPlayButton(row)" [className]="(state) && (state['track_window']['current_track']['name'] === row.title) ? 'trackPlaying' : ''" cdkDrag cdkDragLockAxis="y" [cdkDragData]="row">
        <span *cdkDragPreview>{{draggedString}}</span>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" [length]="tracksLength$ | async" [pageSize]="pageSize$ | async" (page)="loadTracks()"></mat-paginator>
  </div>
</div>
<mat-spinner class="loadingContainer" *ngIf="loading$ | async"></mat-spinner>