.loadingContainer {
  position: absolute;
  stroke: white;
  top: 40%;
  left: 45%;
}

.albumImage {
  width: 40px;
}

.titleContainer {
  display: flex;
}

.titleTextContainer {
  margin-left: 10px;
}

.mat-column-dupTrack {
  width: 0% !important;
}

.mat-column-trackPlaying {
  width: 0% !important;
  text-align: right;
  padding: 0;
}

.mat-column-title {
  width: 35% !important;
}

.mat-column-album {
  width: 25% !important;
}

.mat-column-added_at {
  width: 10% !important;
}

.mat-column-time {
  width: 5% !important;
}

.playlist {
  height: 76.99vh;
  overflow-y: scroll;
  background-color: #2d2929;

  .playlistHeader {
    color: white;
    display: flex;
    margin-bottom: 1rem;
    font-size: 14px;

    .playlistCoverImage {
      height: 200px;
      width: 200px;
    }

    .playlistInfoSection {
      margin-left: 2em;
      margin-top: 1em;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .playlistName {
        margin-top: 0.3em;
        margin-bottom: 0.5em;
        font-weight: 800;
        font-size: 5em !important;
      }

      .playlistOwner {
        font-weight: 800;
      }

      .button-and-follower-section {
        margin-top: 1rem;
        display: flex;

        .button-container {
          flex-grow: 1;

          .more-options-button {
            margin-left: 1rem;
            border: 1px solid white;
          }
        }
      }

      span {
        font-size: 14px;
      }
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #2d2929;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #2d2929;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #555;
  }
}

table {
  width: 100%;
  background-color: #2d2929;

  .trackPlayIcons {
    width: 45px;
    color: white !important;

    .material-icons {
      font-size: 17px;
    }

    .mat-icon {
      position: relative;
      top: 3px;
      cursor: pointer;
      right: 5px;
    }
  }

  .trackPlaying {
    .mat-cell {
      color: green;
    }
  }

  .mat-cell,
  .mat-header-cell {
    color: white;
    border-color: #424242;
    height: 50px;
  }

  .mat-mdc-header-cell {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    padding: .5em 0 .5em 0;

    .mat-icon {
      height: 17px !important;
    }
  }
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: white;
}

::ng-deep .mat-checkbox .mat-checkbox-inner-container {
  top: 4px;
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 1920px) {
  .playlist {
    height: 75.9vh;
  }
}

.trackTitle {
  font-size: 14px;
  color: white;
}

.trackDate,
.trackDuration,
.trackAlbum,
.trackPlayingContainer {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}

.trackArtist {
  font-size: 12px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.7);
}

.mat-row:hover {
  .mat-mdc-cell {
    background: rgba(255, 255, 255, 0.1);
  }

  .trackAlbum,
  .trackArtist {
    color: white;
  }
}

p {
  margin: 0;
}

