/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: black;
  color: white;
  overflow: hidden;
}

*:focus {
  outline: none;
}

.new-playlist-panel .mat-dialog-container {
  background-color: #282828;
  padding: 15px;
}

.cdk-global-scrollblock {
  overflow: hidden;
}
