/* You can add global styles to this file, and also import other style files */
@import "~src/app/styles/variables.scss";

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon {
  position: relative;
  top: 3px;
  font-size: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  text-indent: 5px;
  font-size: 14px;
}

.cdk-drag-preview {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  font-size: 12px;
  margin-left: 1rem !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
}

button:focus {
  outline: none;
}

*:focus {
  outline: none;
}

.mat-list-item {
  margin-bottom: 0.25rem;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 !important;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
  height: 25px !important;
}
.new-playlist-panel {
  .mat-dialog-container {
    background-color: #282828;
    padding: 15px;
  }
}

.device-modal-panel {
  position: absolute !important;
  right: 3.5em;
  top: 21em;
}

.mat-list-base .mat-list-item {
  color: #999999;
}

.device-modal-panel .mat-dialog-container {
  background-color: grey;
  padding: 0;
}

.cdk-global-scrollblock {
  overflow: hidden;
}

.material-icons {
  font-size: 17px;
}

.mat-progress-bar-buffer {
  background-color: #565656;
}

.mat-progress-bar-fill::after {
  background-color: #FFFFFF;
}

.mat-button[disabled], .mat-flat-button[disabled], .mat-icon-button[disabled], .mat-stroked-button[disabled] {
  cursor: not-allowed !important;
}

.mat-paginator-container {
  background-color: #2d2929;
}
.mat-form-field-underline,
.mat-select-value,
.mat-select-arrow,
.mat-paginator-icon,
.mat-paginator-range-label,
.mat-paginator-page-size-label {
  color: white;
}

.mat-form-field-underline {
  background-color: white !important;
}

.mat-sort-header-arrow {
  color: green;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: green;
}

.mat-tab-header, .mat-tab-nav-bar {
  border-bottom: none;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  color: white;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1500px;
  }
}

.highlight {
  background: #359aca;
}