.modalContainer {
  button:focus {
    outline: none;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border: 1px solid white;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    text-align: center;
    width: 90%;
    font-size: 14px;
  }

  .form-badge {
    background-color: #23b0de;
    color: white;
    width: auto;
    border-radius: 10px;
    font-size: 10px;
    height: 20px;
    padding: .15rem .25rem .15rem .25rem;
  }

  .modalHeader {
    position: relative;
    display: flex;
    width: 100%;
    color: white;
    justify-content: center;
  }

  form {
    display: flex;
    flex-wrap: wrap;

    .imageContainer {
      width: 25%;

      button {
        color: white;
        border-radius: 40px;
        width: 89%;
        background-color: #282828;
        line-height: 27px;
        font-size: 14px;
  
        label {
          position: absolute;
          left: 0;
        }
      }

      .default-image {
        position: relative;
        cursor: pointer;
        div {
          position: absolute;
          top: 78%;
          right: 20%;
          color: #504e4e;
        }
        
      }
  
      .user-image {
        position: relative;

        .icon {
          position: absolute;
          right: 0%;
          font-size: 35px;
          color: white;
          opacity: 0.75;
          background-color: black;
          border-radius: 30px;
          height: 35px;
          width: 35px;
        }
  
        button {
          border: 1px solid white;
          position: absolute;
          left: 0;
          top: 130px;
        }
  
        label {
          border: 1px solid white;
          background-color: #282828;
          position: absolute;
          left: 0;
          top: 165px;
        }
      }
  
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }

    .formContainer {
      width: 75%;

      .nameContainer {
        margin-left: 15px;
        font-size: 12px;
        margin-bottom: 0.5rem;
        .nameLabel {
          display: flex;
          color: white;
          label {
            flex-grow: 1;
          }
        }

        input {
          width: 100%;
        }
      }

      .descriptionContainer {
        margin-left: 15px;
        font-size: 12px;
  
        .descriptionLabel {
          display: flex;
          color: white;
          label {
            flex-grow: 1;
          }
        }
    
        textarea {
          height: 100px;
          width: 100%;
          resize: none;
        }
      }
    }
  }
  .test {
    margin-top: 0;
  }

  .button-container {
    display: flex;
    width: 100%;
    justify-content: center;

    .create-button {
      width: 130px;
      // color: white;
      // background-color: green;
      border-radius: 40px;
    }
  }
  .image-disclaimer {
    float: left;
    padding-top: 1em;
    padding-bottom: 1em;

    p {
      color: grey;
      font-size: 12px;
      margin: 0;
      padding: 0;
    }
  }
}