<div class="modalContainer">
  <div class="modalHeader">
    <h6>Create a Playlist</h6>
  </div>
  <div class="">
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
      <div class="imageContainer">
        <div>
          <div *ngIf="!currentImage" class="default-image" (click)="triggerFile()">
            <img  src="/assets/blank_album.png"/>
            <div>Choose image</div>
            <input type="file" name="file" id="file" class="inputfile" (change)="getFile($event)" accept=".jpg,.jpeg"/>
          </div>
          <div *ngIf="currentImage" class="user-image" (mouseenter)="showUserButtons = true" (mouseleave)="showUserButtons = false">
            <img [src]="currentImage">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon class="md-light md-48">more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="after">
              <button (click)="resetImage()" mat-menu-item>Remove image</button>
              <button (click)="replaceImage()" mat-menu-item>Replace image</button>
            </mat-menu>
            <input type="file" name="file2" id="file2" class="inputfile" (change)="getFile($event)" accept=".jpg,.jpeg"/>
          </div>
        </div>
      </div>
      <div class="formContainer">
        <div class="nameContainer">
          <div class="nameLabel">
            <label>Name</label>
            <span *ngIf="playlistNameLength >= (playlistNameMaxLength - 70)" class="form-badge">{{playlistNameLength}} / {{playlistNameMaxLength}}</span>
          </div>
          <input placeholder="New Playlist" formControlName="playlistName" [maxLength]="playlistNameMaxLength" class="example-full-width">
        </div>
        <div class="descriptionContainer">
          <div class="descriptionLabel">
            <label>Description</label>
            <span *ngIf="playlistDescriptionLength >= (playlistDescriptionMaxLength - 70)" class="form-badge">{{playlistDescriptionLength}} / {{playlistDescriptionMaxLength}}</span>
          </div>
          <textarea placeholder="Test" formControlName="playlistDescription" [maxLength]="playlistDescriptionMaxLength" class="example-full-width"></textarea> 
        </div>
      </div>
      <div *ngIf="currentImage" class="image-disclaimer">
        <p>
          By proceeding, you agree to give Spotify access to the image you choose to upload. Please make sure you have the right to upload the image.  We'll only use your image for playlist cover art.
        </p>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" class="create-button" [disabled]="!form.valid">
          Create
        </button>
      </div>
    </form>
  </div>
</div>